@import '../../general';

.listing-body {
    background-color: #ffffff;
    border-radius: 3px;
    text-align: center;
    width: 1100px;
    margin: 0 auto;
    position: relative;
    top: 75px;
    z-index: 9;

    ul {
        padding: 15px;

        li {
            border-bottom: 1px solid $backgroundGrey;
            display: inline-block;
            list-style: none;
            padding: 10px;
            width: 100%;

            div {
                float: left;
                margin-left: 20px;
                margin-top: 15px;
                text-align: left;
            }

            img {
                float: left;
                width: 150px;
            }

            h3 {
                float: left;
            }

            h2 {
                font-size: 1em;
                margin-top: 25px;
                float: left;
                clear: both;
            }

            a {
                color: #333;
            }

            .icon-truck-small {
                margin-left: 10px;
                float: left;
                margin-top: 5px;
            }
        }
    }
}
